<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="#">Help</a><br />
    <a href="#">Send Feedback</a><br />
    <a href="#">Terms of use</a><br />
    <!-- help, send feedback(?), terms of use -->
  </body>
</html>
