<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <% if (user === undefined) {%>
        <a href="/login">Login</a>
        <a href="#">Sign Up</a>
      <% } else { %>
        <a href="#">Hello <%= user %></a>
        <a href="/logout">Logout</a>
      <% } %>
    </div>
  </body>
</html>
