<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - Edit Profile</title>
  </head>
  <body>
    <% include partials/header %>
    <form method="post" action="">

    </form>
  </body>
</html>
