<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - <%= jobdata.title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
      <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-10">
          <form method="post" action="/jobs/<%= jobdata._id %>?_method=PUT">
            <h4><%= jobdata.title %></h4>
            <p>
              Your description here
            </p>
              <% if (jobdata.candidate.filter( x => x.email === email_user ).length > 0) { %>
                <button type='submit' name="Applied" disabled>Applied</button>
              <% } else { %>
                <button type='submit' name="Apply now">Apply now</button>
              <% } %>
          </form>
        </div>
      </div>
    </div>
    <% include partials/footer %>
  </body>
</html>
