<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - Job Status</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <%- include partials/headercompany %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="/company/createjob">Create Jobs</a>
          </li>
          <li>
            <a href="/company/jobstatus">Job status</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </div>
      </div>
    </nav>
    <% for (i = 0; i < jobdata.length ; i++) { %>
      <div class="row">
        <h4><a href="/company/jobstatus/<%=jobdata[i]._id %>"><%= jobdata[i].title %></a></h4>
        <span>Posted at <%= jobdata[i].posted_at %></span>
      </div>
    <% } %>
  </body>
</html>
