<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - Login</title>
  </head>
  <body>
    <form method="post" action="/login/company">
        <div>
            <label>email</label>
            <input type="text" name="email" >
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" >
        </div>
        <div><input type="submit" value="Login"></div>

        <div>
          <p>
            Have no account yet? <a href="/register/company">Register here</a>
          </p>
        </div>
        <% if (message !== null) { %><div><%= message %><% } %>
  </body>
</html>
