<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HRC - Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
  #success_message{ display: none;}
  </style>



  </head>
  <body>

    <br>
    <br>

<div class="container">

    <form class="well form-horizontal" action="/register/user" method="post"  id="regis_form" >
<fieldset>

<!-- Form Name -->
<legend>Register Yourself</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Full Name</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  type="text" name="name" placeholder="Full Name" class="form-control"  required>
    </div>
  </div>
</div>

  <!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="email">
    </div>
  </div>
</div>

<!-- radio checks -->
 <div class="form-group">
                        <label class="col-md-4 control-label">Gender</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="Male" required/> Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="Female" /> Female
                                </label>
                            </div>
                        </div>
                    </div>

<!-- ADDRESS -->

                    <div class="form-group">
  <label class="col-md-4 control-label">Address</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="address" placeholder="Address" class="form-control" type="address">
    </div>
  </div>
</div>

<!-- CURRENT LOCATION -->
<div class="form-group">
        <label class="col-md-4 control-label">Current Location</label>
        <div class="col-md-4 selectContainer">

            <select name="location" required>
        <option value="Medan">Medan</option>
        <option value="Binjai">
          Binjai
        </option>
        <option value="Belawan">
          Belawan
        </option>
      </select>

        </div>
    </div>


  <!-- Date input-->

<div class="form-group">
  <label class="col-md-4 control-label">Date of birth</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  <input  type="date" name="dob" placeholder="Date of birth" class="form-control"  required>
    </div>
  </div>
</div>

    <!-- QUICK HIRE JOB-->

<div class="form-group">
        <label class="col-md-4 control-label">Quick Hire Job</label>
        <div class="col-md-4 selectContainer">

          <select name="quickhire" required>
        <option value="Satpam">Satpam</option>
        <option value="Bodyguard">Bodyguard</option>
      </select>

        </div>
    </div>


<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Phone Number</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="phone" placeholder="Phone Number" class="form-control" type="tel" required>
    </div>
  </div>
</div>

<!-- IMAGE URL input-->

<div class="form-group">
  <label class="col-md-4 control-label">Image URL</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
  <input name="image" placeholder="Image URL" class="form-control" type="url" required>
    </div>
  </div>
</div>





<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Password</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  <input name="password" placeholder="Password" class="form-control"  type="password">
    </div>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">

    <button type="submit" class="btn btn-success" name="register" value="register" required>Register <span class="glyphicon glyphicon-send"></span></button>
     <a href="/" class="btn btn-danger">Cancel </a>

  </div>
</div>


</fieldset>
</form>



</div>
    </div><!-- /.container -->



















  </body>
</html>
