<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if (name_user === undefined) { %>
    <form method="post" action="/login/user">
        <div class="form-group">
          <label for="email">Email</label>
            <input type="email" name="email" class="form-control input-sm" id="email">
      </div>

        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" name="password" class="form-control input-sm" id="pwd">
        </div>

       <div>
          <p>New right here?</p>
          <a href="/register/user"><p>Register here</p></a>
          <br>
      </div>
      <button type="submit" class="btn btn-default">Login</button>
      <% } else { %>
        <span>Hello </span><a href="/profile"><%= name_user %></a>
        <a href="/logout">Logout</a>
      <% } %>
  </form>
  </body>
</html>
